@import './node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Playfair';
  src: url(./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

:root {
  font-size: 62.5%;
}

body {
  width: 100vw;
}

main {
  margin: 5vh 7.5vw;
}

.computer {
  width: 100%;
}
