@import './node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Playfair';
  src: url(./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

main {
  margin: 0 4vw;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.imgcontainer {
  margin: 5vh 7.5vw;
  position: relative;
}

.computer {
  width: 100%;
}

.name {
  position: absolute;
  bottom: 1%;
  left: 1rem;
  font-size: 6rem;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.aboutme {
  display: grid;
  gap: 1.25rem;
}

.aboutmetitle {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
}

.aboutmetext {
  font-size: 1.75rem;
}

.headericons {
  display: flex;
  gap: 2rem;
  justify-self: center;
}

header .icon {
  width: 3rem;
}

.mywork {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 2rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem 3rem;
}

.project {
  display: grid;
  box-shadow: 3px 3px 10px 0px lightgray;
}

#project1 .projectimg {
  background-color: #9e1c1cff;
}

#project2 .projectimg {
  background-color: #7c75caff;
}

#project3 .projectimg {
  background-color: #5e8f4dff;
}

#project4 .projectimg {
  background-color: #c363b4ff;
}

#project5 .projectimg {
  background-color: #d88f39ff;
}

#project6 .projectimg {
  background-color: #4ba2d2ff;
}

.projectimg {
  height: 25rem;
  width: 100%;
  grid-row: 1 / 4;
  display: grid;
  place-content: center;
}

.imgcontent {
  font-size: 4rem;
  text-align: center;
  color: white;
}

.projectcontent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  grid-row: 4 / 6;
  padding: 2rem;
}

.project-title {
  margin-left: 2rem;
  font-size: 2rem;
}

.project-icons {
  display: flex;
  gap: 1.5rem;
  justify-self: end;
}

.project-icons .icon {
  width: 2.5rem;
}

.project-description {
  grid-column: 1 / 3;
  font-size: 1.5rem;
}

footer {
  display: grid;
  gap: 5rem;
  background-color: #0891b2;
}

.contact,
.contact-infos,
.otherinfos {
  display: flex;
  flex-direction: column;
}

.contact {
  gap: 2rem;
  color: white;
  padding: 1.75rem 1.25rem;
}

.contact-title {
  font-size: 4rem;
  align-self: center;
}

.contact-infos {
  gap: 2rem;
  font-size: 1.5rem;
}

.otherinfos {
  gap: 0.5rem;
}

.contact-text {
  font-size: 2.5rem;
}

.contacticons {
  display: flex;
  gap: 3rem;
  align-self: center;
}

.contacticons .icon {
  width: 4rem;
}

.glasses {
  width: 100%;
}

.name,
.aboutmetitle,
.mywork,
.projectimg,
.project-title,
.contact-title {
  font-family: 'Playfair';
}
